@CHARSET "UTF-8";

p, label {
	font-family: Georgia;
}

p.success{
	font-size: 1.5em;
	margin-bottom: 10px;
	font-weight: bold;
}

p.error {
	color: red;
	font-size: 0.7em;
}

a.success_link {
	margin-bottom: 15px;
}	

div.container { 
	width: 800px;
	position: relative;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	-moz-box-shadow: 5px 5px 5px #999;
	-webkit-box-shadow: 5px 5px 5px #999;
	box-shadow: 5px 8px 5px #999;
	padding-left: 10px;
	border-radius: 25px;
}

div.header-title {
	border-bottom: thin;
	border-bottom-color: black;
	border-bottom-style: solid;
	margin-bottom: 20px	;
	margin-top: -20px;
	width: 780px;
}

div.section {
	display: block;
}

label {
	width: 200px;
	display: inline-block;
}

p.header-title {
	font-size: 2em;
	font-weight: bold;
	height: 15px;
	display: block;
}

ol {
	list-style: none;
	padding-left: 10px;
}

li {
	margin-bottom: 10px;
}

p.optional{
	color: gray;
	font-size: 0.6em;
	margin-top: 0px;
}

span.explanation {
	width: 300px;
	font-size: 0.8em;
	text-align: left;
	position: relative;
	padding-right: 20px;
	display: inline;
	margin-left: 150px;
}


input {
	border: thin;
	border-color: #36C;
	border-style: solid;
	border-radius: 4px;
	background-color: #CCF;
	font-family: monospace;
	text-align: center;
	display: inline-block;
}

input.submit {
	width: 80px;
	height: 30px;
	margin-left: 330px;
	margin-bottom: 20px;
	font-family: georgia;
	-moz-box-shadow: 2px 2px 2px #999;
	-webkit-box-shadow: 2px 2px 2px #999;
	box-shadow: 2px 2px 2px #999;
	border-style: outset;
	border-width: medium;
}

input.submit:active {
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
	border-style: inset;
	border-color: lime;
}

input:hover {
	border-color: #000;
}