@CHARSET "UTF-8";

div.container { 
	width: 46%;
	position: relative;
	top: 70px;
	margin-left: auto;
	margin-right: auto;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	-moz-box-shadow: 5px 5px 5px #999;
	-webkit-box-shadow: 5px 5px 5px #999;
	box-shadow: 5px 8px 5px #999;
}